<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--静态工厂-->
    <bean class="com.kxjiang.java_p5_study.spring_study.spring_xml.StaticFactory" id="staticFactoryUser"
          factory-method="getUser" init-method="init"/>

    <!--动态工厂-->
    <bean class="com.kxjiang.java_p5_study.spring_study.spring_xml.DynamicFactory" id="dynamicFactory"/>

    <!--注入bean-->
    <bean id="dynamicFactoryUser" factory-method="getUser" factory-bean="dynamicFactory"/>
</beans>